apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: my-image-updater
  namespace: ${argocd_namespace}
spec:
  applicationRefs:
    - namePattern: "backend"
      images:
        - alias: "backend"
          imageName: "homelab:5001/backend"
          commonUpdateSettings:
            updateStrategy: newest-build
    - namePattern: "web"
      images:
        - alias: "web"
          imageName: "homelab:5001/web"
          commonUpdateSettings:
            updateStrategy: newest-build
